@charset "UTF-8";

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */





/****** Librairies ******/

/** Normalize **/
@import '../../node_modules/normalize.css/normalize.css'; // Adapter le lien vers votre fichier normalize dans node_module.

/**** UTILITAIRES ****/

/** Variables **/
@import 'utilitaires/variables';

/** Mixins **/
@import 'utilitaires/mixins';

/****** BASE ******/

/** Typographie **/
@import 'base/typo';

/** Hyperliens **/
@import 'base/hyperlien';

/** Boutons **/
@import 'base/bouton';

/****** MODULES ******/

@include border-box-sizing;

.first-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-image: url("../images/fond.png");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 5rem;
        margin-left: 10rem;
    }

    span {
        background: linear-gradient(93.53deg, #48007E 6.92%, #BF67CD 72.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.erreur {
    background: #FFC4C4 !important;
    border: 2px solid #F70000 !important;
    border-radius: 10px;
}

.destinataire-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;

}

.destinataire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    gap: 2rem;

    img {
        border-radius: 10px;
    }
}

.logo {
    float: left;
    margin-top: 1rem;

    img {
        width: 15rem;
        height: 100%;
    }
}

nav {
    position: fixed;
    width: 100%;

    ul {
        list-style: none;
        float: left;
        margin-left: 1rem;

        li {
            text-decoration-line: none;
            display: inline-block;
            padding: 0 1.5rem;

            a {
                text-decoration: none;
                color: #000000;
            }
        }

        li:hover {
            color: #48007E;
            text-decoration-line: underline;
        }

    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: #ffffff;
    height: 6rem;
}

.nav-sous-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-principale {
    background-color: #48007E;
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;

    .btn-principale:hover {
        background-color: rgba(72, 0, 126, 0.5);
    }

    .btn-principale:focus {
        background-color: #BF67CD;
    }
}

.btn-secondaire {
    color: #000000;
    border: black 1px solid;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;

    .btn-secondaire:hover {
        text-decoration-line: underline;
    }
}

#input-telephone {
    display: none;
}

.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    height: 100%;
}

.erreur__message {
    flex-wrap: wrap;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    border: none;
    background: #EBEBEB;
    border-radius: 10px;
    height: 5rem;
    width: 50rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    margin-right: 3rem;
}

textarea {
    border: none;
    background: #EBEBEB;
    border-radius: 10px;
    height: 12rem;
    width: 50rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

input[type="submit"] {
    background-color: #48007E;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    width: 50rem;
    height: 5rem;

    input[type="submit"]:hover {
        background-color: rgba(255, 0, 0, 0.5);
    }
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.rose {
    color: $rose;
}

.card-responsables {
    gap: 5rem;
}